.header{
    margin-bottom: 142px;
}
.header__box{
    display: flex;
    align-items: center;
}
.header__image{
    margin-right: auto;
}
.header__list{
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;    
}
.header__hamburger{
    display:none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
}
.header__item{
    margin-left: 35px;
    font-weight: 500;
font-size: 16px;
line-height: 23px;

}
.header__link{   
    opacity: 0.3;
    text-decoration: none;
    color: #fff;
    &:hover{
        opacity: 1;
    }
}
.header__item:nth-child(4){
    margin-left: 0;
}
.header__language{
    margin-left:50px;
    display: flex;
    list-style: none;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 6px 0px 6px 10px;
}
.list__item{
    margin-right: 10px;
    padding: 0;
    font-weight: 500;
font-size: 16px;
line-height: 23px;
}
.list__link{
    text-decoration: none;
    color: #fff;    
    opacity: 0.3;
    &:hover{
        opacity: 1;
    }
}
.header__flex{
    display: flex;
}
@media only screen and (max-width:425px){
.header__flex{
    display: none;
}
.header__hamburger{
    display: block;
}
}